
<div class="tab_config">
    <p-tabView>
        <p-tabPanel header="Header I">
            <div class="container">
                <div class="left-element">
                    <form class="formulario">
                        <input
                        type="text"
                        pInputText
                        maxlength="50"
                        formControlName="nm_cliente"
                        id="nome"
                        required
                        autofocus
                      />
    
                      <input type="text" pInputText />
                    </form>
                </div>
                <div class="right-element">
                    <!-- <p-virtualScroller [value]="servicos" [style]="{'width': '400px', 'margin-left':'100px'}" scrollHeight="200px" [itemSize]="50">
                        <ng-template pTemplate="item" let-servico>
                            <div class="flex align-items-center p-2 h-full">
                                {{ servico.desc_servico }} - {{ servico.vlr_servico }}
                            </div>
                        </ng-template>
                    </p-virtualScroller> -->

                    <p-table [value]="servicos" [tableStyle]="{ 'min-width': '30rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Descrição</th>
                                <th>Valor</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-servico>
                            <tr>
                                <td>{{ servico.desc_servico }}</td>
                                <td>{{ servico.vlr_servico | currency : "BRL" : "symbol"}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
            </p>
        </p-tabPanel>
        <p-tabPanel header="Header III">
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
            </p>
        </p-tabPanel>
    </p-tabView>
</div>