<div class="card-container overflow-hidden">
  <div class="flex flex-wrap align-items-center justify-content-center" style="margin-top: 3em;">
    <div class="smaller-card">
      <p-card 
      header="Clientes"  
      routerLink="/clientes"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/clientes_inicio.jpg" />
      </ng-template>
    </p-card>
    </div>

    <div class="smaller-card">
      <p-card header="Atendimentos"
      routerLink="/atendimento">
        <ng-template pTemplate="header">
          <img alt="Card" src="assets/atendimento_inicio.jpg" />
        </ng-template>
      </p-card>
    </div>
    
    <div class="smaller-card">
      <p-card header="Financeiro"
      routerLink="/financeiro">
        <ng-template pTemplate="header">
          <img alt="Card" src="assets/financeiro.jpg" />
        </ng-template>
      </p-card>
    </div>

    <div class="smaller-card">
      <p-card header="Administração de Serviços"
      routerLink="/gestao">
        <ng-template pTemplate="header">
          <img alt="Card" src="assets/servicos_inicio.jpg" />
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
