.table_formatation{
  width: 83%; 
  margin-bottom: 1rem;
  margin-left: 10%;
  margin-top: 4vh
}

.button_formatation{
  margin: 1rem 0 0 9.5rem;
}

.danger {
  color: red;
}
.msg_required{
  font-size: 12px ;
  margin-left: 8px;
}

.card {
  max-width: 85%;
  background: var(--var-background-viva-dark);
  border: 1px solid var(--var-border-background-viva-dark);
  padding: 2.5rem;
  // margin-bottom: 2rem;
  margin: 2rem auto;

  box-shadow: #000;
  border-radius: 10px;

  &:last-child {
      margin-bottom: 0;
  }

}


.ativo {
  color: green;
}

.inativo {
  color: red;
}
