.card {
  max-width: 85%;
  background: var(--var-background-viva-dark);
  border: 1px solid var(--var-border-background-viva-dark);
  padding: 2.5rem;
  // margin-bottom: 2rem;
  margin: 2rem auto;

  box-shadow: #000;
  border-radius: 40px;

  &:last-child {
      margin-bottom: 0;
  }

}

.ativo {
  color: green;
}

.inativo {
  color: red;
}

.botao_create{
  display: none;
}

@media (max-width: 960px) {
  .icone_wpp{
    display: none;
  }
} 



@media (max-width: 675px) {
  .input_pesquisa{
    width: 8rem;
  }

}

@media (max-width: 563px) {
  .input_pesquisa{
    width: 8rem;
  }

  .card{
    max-width: 100%;
    padding: 0.7rem;
  }

  .botao_novo{
    display: none;
  }

  .botao_create{
    display: block;
  }
}