<button
pButton 
type="button" 
icon="pi pi-arrow-left"
routerLink="/inicio"
class="p-button-outlined button_formatation"
></button>

<!-- TABLE -->
<div class="table_formatation">
  <p-card>
  <p-table
    #dt
    #textInput
    [value]="clients"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['nm_cliente', 'cpf_cnpj']"
    [tableStyle]="{ 'min-width': '75rem' }"
    dataKey="id"
    currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} Itens"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h2 class="m-0">CLIENTES</h2>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            pTooltip="Nome ou CPF"
            tooltipPosition="top"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Procurar... "
          />
        </span>
        <div>
          <button
            pButton
            pRipple
            label="Novo"
            icon="pi pi-plus"
            class="p-button-primary"
            (click)="openNew()"
          ></button>
        </div>
      </div>
    </ng-template>
    <!-- HEADER -->
    <ng-template pTemplate="header">
      <tr>
        <!-- <th></th> -->
        <th pSortableColumn="nm_cliente">
          Nome <p-sortIcon field="nm_cliente"></p-sortIcon>
        </th>
        <th>
          CPF/CNPJ
        </th>
        <th>
          Bairro
        </th>
        <th>
          Telefone
        </th>
        <th pSortableColumn="status">
          Status <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th >Ações</th>
      </tr>
    </ng-template>
    <!-- CONTENT -->

    <ng-template pTemplate="body" let-client let-expanded="expanded">
      <tr>
        <td>
          <ng-container  *ngIf="requisicaoCompleta; else skeleton">
            {{ client.nm_cliente | capitalCase }}
          </ng-container>
        </td>
        <td>
          <ng-container  *ngIf="requisicaoCompleta; else skeleton">
            {{ formatCpfCnpj(client.cpf_cnpj) }}
          </ng-container>
        </td>
        <td>
          <ng-container  *ngIf="requisicaoCompleta; else skeleton">
            {{ client.bairro | capitalCase }}
          </ng-container>
        </td>
        <td>
          <ng-container  *ngIf="requisicaoCompleta; else skeleton">
            <i class="pi pi-whatsapp" style="font-size: 1rem"></i> 
            <a target="_blank" [href]="'https://api.whatsapp.com/send?phone=' + client.telefone1 + '&text=Olá, aqui é da lava jato'">
            {{ client.telefone1 | telefoneFormat }}
            </a>
          </ng-container>
        </td>
        <td  [ngClass]="getStatusClass(client.status)">
          <ng-container  *ngIf="requisicaoCompleta; else skeleton">
            <b>   {{ client.status == "A" ? "ATIVO" : "INATIVO" }}</b>
          </ng-container>
        </td>
        <td>
          <ng-container  *ngIf="requisicaoCompleta; else skeleton">
          <p-button
          icon="pi pi-car" 
          (click)="carClientModal('center', client)"
          styleClass="p-button-rounded p-button-primary p-button-text"
          ></p-button>

          <p-button
          icon="pi pi-pencil" 
          (click)="editClientModal(client)"
          styleClass="p-button-rounded p-button-primary p-button-text"
          ></p-button>

          <p-button
          icon="pi pi-trash" 
          (click)="confirmDelete($event, client)"
          styleClass="p-button-rounded p-button-primary p-button-text"
          ></p-button>
          </ng-container>
          <ng-template #skeleton>
            <!-- Conteúdo de esqueleto para os botões -->
            <p-skeleton></p-skeleton>
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
</div>

<!-- DIALOG DE EDITAR E CRIAR CLIENTE -->
<app-save-edit-client
#SaveEditClientComponent
(getClients)="getClients()"
(dialogClosed)="onDialogClosed()"
[cd_cliente]="cd_cliente"
[clientDialog]="clientDialog"
[saveMode]="saveMode"
[editMode]="editMode"
></app-save-edit-client>

<!-- BOTAO DE CARRO -->
<app-car-details
#CarDetailsComponent
[carClientDialog]="carClientDialog"
[position]="position"
(getClients)="getClients()"
(dialogClosed)="onDialogClosed()"
></app-car-details>

<div class="card">
  <p-toast></p-toast>
</div>

<!-- CONFIRM POPUP -->
<p-confirmPopup></p-confirmPopup>
