<div class="mt-5 ml-5">
  <button
    pButton
    pRipple
    label="Novo"
    icon="pi pi-plus"
    class="p-button-success mr-2 mb-2"
    (click)="openNew()"
  ></button>
</div>

<!-- TABLE -->
<div class="table_formatation">
  <p-table
    #dt
    #textInput
    [value]="clients"
    [rows]="8"
    [paginator]="true"
    [globalFilterFields]="['nm_cliente', 'cpf_cnpj']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} Itens"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Clientes</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            pTooltip="Nome ou CPF"
            tooltipPosition="top"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Procurar... "
          />
        </span>
      </div>
    </ng-template>
    <!-- HEADER -->
    <ng-template pTemplate="header">
      <tr>
        <!-- <th></th> -->
        <th pSortableColumn="nm_cliente" style="min-width: 15rem">
          Nome <p-sortIcon field="nm_cliente"></p-sortIcon>
        </th>
        <th pSortableColumn="cpf_cnpj">
          CPF/CNPJ <p-sortIcon field="cpf_cnpj"></p-sortIcon>
        </th>
        <th pSortableColumn="bairro">
          Bairro <p-sortIcon field="bairro"></p-sortIcon>
        </th>
        <th pSortableColumn="status" style="min-width: 10rem">
          Status <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th style="min-width: 10rem">Ações</th>
      </tr>
    </ng-template>
    <!-- CONTENT -->
    <ng-template pTemplate="body" let-client let-expanded="expanded">
      <tr>
        <td>{{ client.nm_cliente | capitalCase }}</td>
        <td>{{ formatCpfCnpj(client.cpf_cnpj) }}</td>
        <td>{{ client.bairro | capitalCase }}</td>
        <td>{{ client.status == "A" ? "ATIVO" : "INATIVO" }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-car"
            class="p-button-rounded p-button-primary mr-2"
            (click)="carClientModal('center', client)"
          ></button>

          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-warning mr-2"
            (click)="editClientModal(client)"
          ></button>

          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger mr-2"
            (click)="confirmDelete($event, client)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  header="Carros"
  [(visible)]="carClientDialog"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [position]="position"
>
  <p-table
    [value]="clientsVehicles"
    dataKey="id"
    editMode="row"
    [tableStyle]="{ width: '100%' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 50%">Carro</th>
        <th style="width: 50%">Placa</th>
        <th style="width: 50%">Ações</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-vehicle
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="vehicle">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="vehicle.modelo" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ vehicle.modelo }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="vehicle.placa"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ vehicle.placa }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(vehicle)"
              class="p-button-rounded p-button-text"
            ></button>

            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(vehicle)"
              class="p-button-rounded p-button-text p-button-success mr-2"
            ></button>

            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(vehicle, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog
  [(visible)]="clientDialog"
  [style]="{ width: '450px' }"
  [header]="saveMode ? 'Novo Cliente' : editMode ? 'Editar Cliente' : ''"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="clientRegisterForm">
      <div class="field">
        <label for="nome">Nome:</label>
        <span class="danger"> * </span>
        <input
          type="text"
          pInputText
          maxlength="50"
          formControlName="nm_cliente"
          id="nome"
          required
          autofocus
        />
      </div>
      <div class="field">
        <label for="cpf_cnpj">CPF ou CNPJ:</label>
        <span class="danger"> * </span>
        <input
          type="text"
          cpf-cnpj-mask
          pInputText
          maxlength="18"
          formControlName="cpf_cnpj"
          id="cpf_cnpj"
          required
          autofocus
        />
      </div>
      <div class="field">
        <label for="cep">CEP:</label>
        <span class="danger"> * </span>
        <input
          type="text"
          pInputText
          pKeyFilter="int"
          (blur)="getBairroByCpf()"
          maxlength="8"
          formControlName="cep"
          id="cep"
          required
          autofocus
        />
      </div>
      <div class="field">
        <label for="bairro">Bairro:</label>
        <span class="danger"> * </span>
        <input
          type="text"
          pInputText
          maxlength="70"
          formControlName="bairro"
          id="bairro"
          required
          autofocus
        />
      </div>
      <div class="field">
        <label for="nr_casa">Nrº da casa</label>
        <span class="danger"> * </span>
        <input
          type="text"
          pInputText
          pKeyFilter="int"
          maxlength="6"
          formControlName="nr_casa"
          id="nr_casa"
          required
          autofocus
        />
      </div>
      <div
        *ngIf="editMode"
        class="field"
        pTooltip="Clique para mudar o status"
        tooltipPosition="top"
      >
        <label for="status">Status do Cliente</label>
        <p-toggleButton
          id="status"
          formControlName="status"
          onLabel="Inativo"
          offLabel="Ativo"
        >
          ></p-toggleButton
        >
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>

    <button
      *ngIf="saveMode"
      pButton
      pRipple
      label="Salvar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveClient()"
    ></button>

    <button
      *ngIf="editMode"
      pButton
      pRipple
      label="Editar"
      icon="pi pi-pencil"
      class="p-button-text"
      (click)="editClient()"
    ></button>
  </ng-template>
</p-dialog>

<!-- TOAST -->
<div class="card">
  <p-toast></p-toast>
</div>

<!-- CONFIRM POPUP -->
<p-confirmPopup></p-confirmPopup>
