.ativo {
  color: green;
}

.inativo {
  color: red;
}

.botao_create{
  display: none;
}

@media (max-width: 960px) {
  .icone_wpp{
    display: none;
  }
} 



@media (max-width: 675px) {
  .input_pesquisa{
    width: 8rem;
  }

}

@media (max-width: 563px) {
  .input_pesquisa{
    width: 8rem;
  }

  .card{
    max-width: 100%;
    padding: 1.3rem;
  }

  .botao_novo{
    display: none;
  }

  .botao_create{
    display: block;
  }
}