<p-toolbar>
    <div class="p-toolbar-group-start">
        <a [routerLink]="['/dashboard']">
            <img src="../../../assets/logo.png" class="logo-img">
        </a>

        <!-- <p-button label="New" icon="pi pi-plus" class="mr-2"></p-button> -->
        <!-- <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>
        <i class="p-toolbar-separator pi pi-bars mr-2" style="vertical-align: middle"></i> -->
    </div>
    <!-- <div class="p-toolbar-group-end">
        <p-button icon="pi pi-times" styleClass="p-button-danger" (onClick)="logout()"></p-button>
    </div> -->
</p-toolbar>