.logo-img{
    height: 100px;
    width: 200px;
}

.img_formatation{
  width: 140px;
  height: 40px;
  margin-top: 0.4rem;
}

.centro{
  display: none;
}

@media (max-width: 514px) {
  .img_formatation{
    display: none;
  }

  .modo_escuro{
    display: none;
  }

  .centro{
    display: block;
  }

}