<div class="bg"> 
    <div
      class="flex justify-content-center align-items-stretch"
      [style]="{ height: '100vh' }"
    >
      <p-card
      styleClass="p-card-shadow"
       
        [style]="{
          width: '50rem',
          'margin-bottom': '1em',
          'margin-right': 'auto',
          'margin-left': '2rem',
          'margin-top': '3em'
        }"
      > 
      <h1
        style="display: inline;"
        class="flex justify-content-center align-items-stretch">
        <!-- <button
        pButton
        [style]="{'margin-right': '3px'}"
        disabled="true"
        icon="pi pi-user"
        ></button> -->
        Perfil</h1>

        <div>
          <img class="img_profile" src="../../../assets/profile_icon3.png">
        </div>   

        <p-divider></p-divider>
      
        <h3>Nome:
           <p-skeleton 
           *ngIf="isLoading" 
            width="80%"
            ></p-skeleton>
          {{ this.nm_usuario | titlecase }}</h3>
        <ng-template pTemplate="sub-header">
          <!-- <h3>Email:
            <p-skeleton 
            *ngIf="isLoading" 
            width="80%"
            ></p-skeleton>
            {{ this.email }}</h3> -->
            <!-- <p-divider></p-divider> -->
            <!-- <h3>Conta:
              <p-skeleton 
              *ngIf="isLoading" 
              width="80%"
              ></p-skeleton>
              {{ this.numero_conta }}</h3> -->
        </ng-template>
    
        <p-divider></p-divider>
      </p-card>
    </div>
    </div>