.img_profile{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
}
.photo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
 
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay i {
    color: #fff; /* Cor do ícone */
    font-size: 36px; /* Tamanho do ícone */
  }
  