.container {
    display: flex;
    justify-content: space-between;
}

.left-element {
    flex: 1; 
    margin-right: 10px; 
}

.right-element {
    flex: 1;
}


.valor_total_servico{
    margin-right: 1.7rem;
    margin-bottom: 0.5rem;
}