<p-dialog
  [(visible)]="chamarModalPagamento"
  (onHide)="closeDialog()"
  [style]="{ width: '1250px', height: '800px' }"
  [header]="'Pagamento'"
  [modal]="true"
  styleClass="p-fluid"
  [draggable]="false"
>
  <div class="container">
    <div class="left-element">
      <form class="mt-3" [formGroup]="pagamentoForm">
        <div class="field">
          <label for="pagamentos">Formas de Pagamento:</label>
          <span class="danger"> * </span>
          <p-multiSelect
            [style]="{ 'max-width': '590px' }"
            [options]="formasDePagamento"
            formControlName="pagamentos"
            defaultLabel="Selecione as formas de pagamento"
            optionLabel="pagamentoEparcelas"
            display="chip"
            (onChange)="onMultiSelectChangePagamento($event)"
          ></p-multiSelect>
        </div>
        <div class="field">
          <div class="mb-2">Deseja aplicar algum desconto? (opcional)</div>

          <div *ngIf="isMoney">
            <!-- <label for="vl_desconto_p" >R$:</label> -->
            <p-inputNumber
              placeholder="R$"
              mode="currency"
              currency="BRL"
              [maxlength]="12"
              formControlName="vl_desconto_p"
              (ngModelChange)="calcularPrecoComDesconto($event)"
            >
            </p-inputNumber>
          </div>

          <div *ngIf="isPercent">
            <!-- <label for="perc_desc_p">%:</label> -->
            <p-inputNumber
              placeholder="%"
              formControlName="perc_desc_p"
              [maxlength]="3"
              inputId="percent"
              prefix="%"
              (ngModelChange)="calcularDescontoPercentual($event)"
            ></p-inputNumber>
          </div>

          <div class="flex flex-wrap gap-3 mt-4 mb-3 ml-1 ">
            <div *ngFor="let tipo_pregunta of tipos_pregunta">
              <p-radioButton
                formControlName="tipo_de_pregunta"
                inputIt="tipo_pregunta.value"
                name="tipo_de_pregunta"
                [value]="tipo_pregunta"
                [label]="tipo_pregunta.label"
                class="p-mb-3"
                (ngModelChange)="tipoDescontoRadio($event)"
              >
              </p-radioButton>
            </div>
          </div>
          <div class="field" *ngFor="let pagamento of selectedPagamentos">
            <label for="pagamentos">{{ pagamento.descricao }}:</label>
            <p-inputNumber
              placeholder="Digite o valor do {{ pagamento.descricao }}"
              mode="currency"
              currency="BRL"
              formControlName="pagamento"
              [maxlength]="12"
              [(ngModel)]="valoresDosPagamentos[pagamento.cd_pagamento]"
              (ngModelChange)="exibirValorDigitado(pagamento, $event)"
            >
            </p-inputNumber>
          </div>
        </div>
      </form>
    </div>
    <div class="right-element">
      <p-table [value]="servicos" [tableStyle]="{ 'max-width': '37rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Serviço</th>
            <th>Status</th>
            <th>Valor</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-servico>
          <tr>
            <td>{{ servico.servico | uppercase}}</td>
            <td>{{ servico.status_servico == "A" ? "ABERTO" :servico.atendimento == "C" ? "CANCELADO " : "FECHADO" }}</td>
            <td>{{ servico.valor | currency : "BRL" : "symbol" }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div style="display: flex;">
      <h4 *ngIf="desconto" class="valores_finais">
        VALOR ORIGINAL:
        {{
          precoOriginal <= 0
            ? "R$ 0"
            : (precoOriginal | currency : "BRL" : "symbol")
        }}
      </h4>
      <h4 style="color: red" *ngIf="desconto" class="valores_finais">
        DESCONTO: -
        {{
          isMoney == true
            ? (desconto | currency : "BRL" : "symbol")
            : desconto + "%"
        }}
      </h4>
      <h4 class="valores_finais">
        TOTAL A PAGAR:{{
          precoFinal <= 0 ? "R$ 0" : (precoFinal | currency : "BRL" : "symbol")
        }}
      </h4>
      <h4 style="color: green"  *ngIf="valorDigitado" class="valores_finais">
        Valor Pago:{{
         valorDigitado | currency : "BRL" : "symbol"
        }}
      </h4>
      <h4 style="color: yellow;" *ngIf="troco" class="valores_finais">
        TROCO:{{
         troco | currency : "BRL" : "symbol"
        }}
      </h4>
    </div>

    <button
      pButton
      pRipple
      label="Cancelar"
      class="p-button-text"
      (click)="closeDialog()"
    ></button>

    <button
      [disabled]="desabilitarBotao || !valorDigitado"
      pButton
      pRipple
      label="Salvar"
      [loading]="buttonLoading"
      class="p-button-text"
      (click)="pagamento()"
    ></button>
  </ng-template>
</p-dialog>

<div class="card">
  <p-toast></p-toast>
</div>