<p-dialog
  [(visible)]="newCarDialog"
  (onHide)="closeDialog()"
  [style]="{ width: '450px' }"
  [header]="saveMode ? 'Novo Veículo' : 'Editar Veículo'"
  [modal]="true"
  styleClass="p-fluid"
  [draggable]="false"
>
<ng-template pTemplate="content">
    <form [formGroup]="newCarForm">
        <div class="field">
            <label for="descricao">Descrição:</label>
            <span class="danger"> * </span>
            <p-dropdown 
            id="descricao"
            [options]="carsType" 
            formControlName="cd_tipo_veiculo" 
            placeholder="Selecione"
            optionLabel="descricao"
            [(ngModel)]="selectTipoVeiculo"
            ></p-dropdown>
          </div>
        
          <div class="field">
            <label for="modelo">Modelo:</label>
            <span class="danger"> * </span>
            <input
              type="text"
              pInputText
              maxlength="30"
              formControlName="modelo"
              id="modelo"
              required
              autofocus
            />
          </div>
        
          <div class="field">
            <label for="placa">Placa:</label>
            <span class="danger"> * </span>
            <input
              type="text"
              pInputText
              maxlength="7"
              formControlName="placa"
              id="placa"
              required
              autofocus
            />
          </div>
    </form>
</ng-template>
<ng-template pTemplate="footer">
  <button
    pButton
    pRipple
    label="Cancelar"
    class="p-button-text"
    (click)="closeDialog()"
  ></button>

    <button
    *ngIf="saveMode"
    [disabled]="!newCarForm.valid"
    pButton
    pRipple
    label="Salvar"
    [loading]="buttonLoading"
    class="p-button-text"
    (click)="saveNewClientCar()"
    ></button>
    <button
    *ngIf="editMode"
    [disabled]="!newCarForm.valid"
    pButton
    pRipple
    label="Editar"
    [loading]="buttonLoading"
    class="p-button-text"
    (click)="editCarClient()"
  ></button>

</ng-template>
</p-dialog>

<div class="card">
  <p-toast></p-toast>
</div>