<p-dialog
  [(visible)]="atendimentoDialog"
  (onHide)="closeDialog()"
  [style]="{ width: '700px', height: '1000px' }"
  [header]="'Novo Atendimento'"
  [modal]="true"
  styleClass="p-fluid"
  [draggable]="false"
>
  <form [formGroup]="newAtendimentoForm">
    <div class="field">
      <label for="descricao">Cliente:</label>
      <span class="danger"> * </span>
      <p-dropdown
        id="nm_cliente"
        [options]="clientes"
        formControlName="cd_cliente_p"
        placeholder="Selecione"
        optionLabel="nm_cliente"
        (onChange)="onDropdownChangeCliente($event)"
      >
      </p-dropdown>
    </div>

    <div class="field">
      <label for="veiculo">Veiculo</label>
      <span class="danger"> * </span>
      <p-dropdown
        id="veiculo"
        [options]="veiculoCliente"
        placeholder="Selecione"
        optionLabel="placaModeloConcatenado"
        [disabled]="!veiculoCliente || noCarsValidation"
        (onChange)="onDropdownChangeCarro($event)"
      >
      </p-dropdown>
      <span class="danger" *ngIf="noCarsValidation">Este cliente não possui carros disponíveis</span>
    </div>

    <div class="field">
      <label for="servicos">Serviços</label>
      <span class="danger"> * </span>

      <p-multiSelect 
      [options]="servicos" 
      formControlName="cd_servico_p"
      defaultLabel="Selecione os Serviços" 
      optionLabel="desc_vlr_servico" 
      display="chip"
      (onChange)="onMultiSelectChangeServicos($event)"
      ></p-multiSelect>
    </div>


    <div class="field">
      <label for="descricao">Dia do Atendimento:</label>
      <span class="danger"> * </span>
      <input pInputText type="datetime-local" formControlName="horario_p" />
    </div>
  </form>

  <ng-template pTemplate="footer">
    <h3 *ngIf="precoServicoFinal" class="valor_total_servico">TOTAL: {{precoServicoFinal | currency : "BRL" : "symbol"}}</h3>
    <button
      pButton
      pRipple
      label="Cancelar"
      class="p-button-text"
      (click)="closeDialog()"
    ></button>

    <button
    [disabled]="!newAtendimentoForm.valid"
    pButton
    pRipple
    label="Salvar"
    [loading]="buttonLoading"
    class="p-button-text"
    (click)="saveNewAtendimento()"
    ></button>
  </ng-template> 
</p-dialog>


<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>


<app-pagamento
#PagamentoComponent
[chamarModalPagamento]="chamarModalPagamento"
(dialogClosed)="closeDialog()"
>
</app-pagamento>

<div class="card">
  <p-toast></p-toast>
</div>