<div class="titulo">
  <img class="img" src="/assets/project-img/logo3.png"/>
</div>

<div class="card">
  <div class="flex card-container yellow-container">
    <img
      src="https://via.placeholder.com/1080"
      class="animationSlide img_ident"
    />

    <div class="flex-grow-1 flex justify-content-center border-round">
      <div class="tab_formatation">
        <p-tabView (onChange)="onTabChange($event)">
          <!-- LOGIN -->
          <p-tabPanel header="Fazer Login">
            <form [formGroup]="userFormLogin">
              <div class="flex align-items-center m-2">
                <div class="card_setup">
                  <!-- EMAIL -->
                  <span class="p-float-label">
                    <input
                    [style]="{ width: '100%' }"
                    type="text"
                    pInputText
                    formControlName="email"
                    id="emailInputLogin"
                  />
                    <label htmlFor="emailInputLogin">Email: </label>
                  </span>
  
                  <p-divider></p-divider>
                  
                  <!-- SENHA -->
                  <span class="p-float-label">
                    <p-password
                    [style]="{ width: '100%' }"
                    [inputStyle]="{ width: '100%' }"
                    [toggleMask]="true"
                    id="passwordInput"
                    formControlName="senha"
                    [feedback]="false"
                    (keyup.enter)="doLogin()" 
                  />
                    <label htmlFor="passwordInput">Senha: </label>
                  </span>
                  <p-divider></p-divider>
                  <p-button
                    label="Login"
                    [loading]="buttonLoading" 
                    [style]="{ width: '100%', 'margin-top': '0.6rem'}"
                    (onClick)="doLogin()"
                  ></p-button>
                </div>
              </div>
            </form>
          </p-tabPanel>
          <!-- REGISTRAR USUÁRIO -->
          <p-tabPanel header="Registrar Funcionário">
            <form [formGroup]="userFormRegister" >
              <div class="flex align-items-center m-2">
              <div class="card_setup">
                <span class="p-float-label">
                  <input
                    [style]="{ width: '100%' }"
                    type="text"
                    pInputText
                    id="nameInput"
                    aria-describedby="username-help"
                    formControlName="nm_usuario"
                  />
                  <label htmlFor="nameInput">Nome Completo</label>
                </span>
                <div
                  class="mt-1"
                  *ngIf="
                    userFormRegister.get('nm_usuario')?.value == '' &&
                    userFormRegister.get('nm_usuario')!.touched
                  "
                >
                  <span class="p-error"><p class="msg_required">Nome é Obrigatório.</p></span>
                </div>
                <p-divider></p-divider>
                <span class="p-float-label">
                  <input
                    [style]="{ width: '100%' }"
                    pInputText
                    id="username"
                    id="emailInput"
                    aria-describedby="email-help"
                    formControlName="email"
                  />
                  <label htmlFor="emailInput">Email</label>
                </span>
                <div
                  class="mt-1"
                  *ngIf="
                    userFormRegister.get('email')?.value == '' &&
                    userFormRegister.get('email')!.touched
                  "
                >
                  <span class="p-error"><p class="msg_required">Email é Obrigatório.</p></span>
                </div>
                <div
                  class="mt-1"
                  *ngIf="userFormRegister.get('email')?.errors?.['email']"
                  class="p-error"
                >
                  <span>Insira um email válido</span>
                </div>
                <p-divider></p-divider>
                <span class="p-float-label">
                  <p-password
                    [style]="{ width: '100%' }"
                    [inputStyle]="{ width: '100%' }"
                    [toggleMask]="true"
                    id="passwordInput"
                    formControlName="senha"
                    [feedback]="false"
                    (keyup.enter)="registerUser()" 
                  />
                  <label htmlFor="passwordInput">Senha</label>
                </span>
                <div
                  class="mt-1"
                  *ngIf="
                    userFormRegister.get('senha')?.invalid &&
                    (userFormRegister.get('senha')?.dirty ||
                    userFormRegister.get('senha')?.touched)
                  "
                >
                  <span class="p-error"><p class="msg_required"> Senha é Obrigatória.</p></span>
                </div>

                <p-divider></p-divider>
                <p-button
                  [loading]="buttonLoading" 
                  label="Registrar"
                  [style]="{ width: '100%' }"
                  (onClick)="registerUser()"
                ></p-button>
              </div>
            </div>
            </form>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>

<!-- TOAST -->
<div class="card">
  <p-toast></p-toast>
</div>
