
<div class="card">
  <h2 class="mb-5">ATENDIMENTOS</h2>
  <p-table
    #dt
    #textInput
    [value]="atendimentos"
    [tableStyle]="{ 'min-width': '55rem', 'marign-left': '40%'}"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['cliente', 'nr_atendimento']"
    [tableStyle]="{ 'min-width': '75rem' }"
    dataKey="id"
    currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} Itens"
    [showCurrentPageReport]="true"
  >
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <button
      pButton 
      type="button" 
      icon="pi pi-arrow-left"
      routerLink="/inicio"
      class="p-button-outlined"
      ></button>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          pTooltip="Nome ou Numero do Atendimento"
          tooltipPosition="top"
          (input)="applyFilterGlobal($event, 'contains')"
          placeholder="Procurar... "
        />
      </span>
      <div>
        <p-button
        label="Novo Atendimento"
        icon="pi pi-plus"
        (onClick)="newAtendimento()"
        >
        </p-button>
      </div>
    </div>
  </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="cliente">
          Cliente <p-sortIcon field="nr_atendimento"></p-sortIcon>
        </th>
        <th  pSortableColumn="dh_inicio_atendimento">
          Data e Hora do Início <p-sortIcon field="dh_inicio_atendimento"></p-sortIcon>
        </th>

        <th  pSortableColumn="nr_atendimento">
          Atendimento <p-sortIcon field="nr_atendimento"></p-sortIcon>
        </th>
        <th pSortableColumn="status_atendimento">
          Status <p-sortIcon field="status_atendimento"></p-sortIcon>
        </th>
        <th>Valor Total</th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-atendimento let-expanded="expanded">
      <tr>
        <td>
          <ng-container  *ngIf="requisicaoCompleta; else skeleton">
            {{ atendimento.cliente}}
          </ng-container>
        </td>

        <td>
          <ng-container  *ngIf="requisicaoCompleta; else skeleton">
            {{ atendimento.dh_inicio_atendimento }}
          </ng-container>
        </td>

        <td>
          <ng-container  *ngIf="requisicaoCompleta; else skeleton">
            {{ atendimento.nr_atendimento }}
          </ng-container>
        </td>

        <td>
          <ng-container  *ngIf="requisicaoCompleta; else skeleton">
            {{ atendimento.status_atendimento == 'A' ? "ABERTO": "FECHADO" }}
          </ng-container>
        </td>

        <td>
          <ng-container  *ngIf="requisicaoCompleta; else skeleton">
            {{ atendimento.valor_total | currency : "BRL" : "symbol"}}
          </ng-container>
        </td>
        
        <td>
          <ng-container  *ngIf="requisicaoCompleta; else skeleton">
            <p-button
            [disabled]="atendimento.status_pagamento == 'P' ? true : false"
            icon="pi pi-money-bill"
            styleClass="p-button-rounded p-button-info p-button-text p-button-raised mr-2"
            (onClick)="chamarPopUp(atendimento)"
          ></p-button>

          <p-button
          icon="pi pi-eye"
          styleClass="p-button-rounded p-button-info p-button-text p-button-raised"
          (onClick)="visualizarServicos(atendimento)"
        ></p-button>
          </ng-container>
        </td>
        <ng-template #skeleton>
          <p-skeleton></p-skeleton>
        </ng-template>
      </tr>
    </ng-template>
  </p-table>
</div>


<app-visualizar-servico
#VisualizarServicoComponent
(dialogClosed)="onDialogClosed()"
[visualizarServicoDialog]="visualizarServicoDialog"
>  
</app-visualizar-servico>

<app-new-atendimento
#NewAtendimentoComponent
(dialogClosed)="onDialogClosed()"
[atendimentoDialog]="atendimentoDialog"
(getAtendimentos)="getAtendimentos()"
>
</app-new-atendimento>
<app-pagamento
#PagamentoComponent
[chamarModalPagamento]="chamarModalPagamento"
(dialogClosed)="onDialogClosed()"
>
</app-pagamento>


<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<div *ngIf="isLoading" class="loading-overlay">
  <app-car-wash-loader></app-car-wash-loader>
</div>