.card {
  max-width: 85%;
  background: var(--var-background-viva-dark);
  border: 1px solid var(--var-border-background-viva-dark);
  padding: 2.5rem;
  margin: 2rem auto;

  box-shadow: #000;
  border-radius: 10px;

  &:last-child {
      margin-bottom: 0;
  }
}

.botao_create{
  display: none;
}

.botao_create2{
  display: none;
}

@media (max-width: 741px) {
  .input_pesquisa{
    width: 9rem;
  }

  .botao_novo{
    display: none;
  }
  
  .botao_create{
    display: block;
  }

  .card{
    max-width: 100%;
    padding: 1rem;
  }

}

@media (max-width: 470px) {
  .input_pesquisa{
    width: 8rem;
  }

  .card{
    max-width: 100%;
    padding: 0.7rem;
  }

  .botao_create{
    display: none;
  }

  .botao_create2{
    display: block;
  }
}




