<p-dialog
  header="Veículos"
  [(visible)]="carClientDialog"
  (onHide)="closeDialog()"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [position]="position"
  [style]="{width:'65vw'}"
>
  <button
    pButton
    pRipple
    label="Novo"
    icon="pi pi-plus"
    class="p-button-success mr-2 mb-2"
    (click)="openDialogNewCar()"
  ></button>

  <p-table
    [value]="clientsVehicles"
    *ngIf="!showNoDataMessage"
    dataKey="id"
    editMode="row"
    responsiveLayout="stack"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Modelo</th>
        <th>Placa</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-vehicle
      let-columns="columns"
    >
    <tr>
      <td>
        <span class="p-column-title"><b><i>Modelo</i></b></span>
        {{vehicle.modelo | uppercase }}
      </td>
      <td>
        <span class="p-column-title"><b><i>Placa</i></b></span>
        {{vehicle.placa | uppercase}}</td>
      <td>
        <span class="p-column-title"><b><i>Descrição</i></b></span>
        {{vehicle.tipo_veiculos.descricao}}</td>
      <td>
        <span class="p-column-title"><b><i>Ações</i></b></span>
        <button
        pButton
        pRipple
        icon="pi pi-pencil"
        class="p-button-rounded p-button-text mr-2"
        (click)="editClientCarInputs(vehicle)"
        ></button>
        <button
        pButton
        pRipple
        icon="pi pi-trash"
        class="p-button-rounded p-button-text mr-2"
        (click)="confirmDelete($event, vehicle)"
        ></button>
      </td>
    </tr>
    </ng-template>
  </p-table>
  <p-progressSpinner
  class="progressSpinner"
  *ngIf="progressSpinner">
  </p-progressSpinner>

  <!-- MSG CASO NAO TENHA NADA -->
  <div  *ngIf="showNoDataMessage">
    <!-- <img class="msg_not_found" src="../../../../../assets/404_not_found.png"> 
    <br> -->
    <span class="message">
       DADOS NÃO ENCONTRADOS 
      </span>
  </div>
</p-dialog>

<app-new-car
  #NewCarComponent
  [newCarDialog]="newCarDialog"
  (dialogClosed)="onDialogClosed()"
  (getCarByClient)="getCarByClient(cd_cliente)"
  [cd_cliente]="cd_cliente"
  [carsType]="carsType"
  [saveMode]="saveMode"
  [editMode]="editMode"
>
</app-new-car>

<div class="card">
  <p-toast></p-toast>
</div>
