<p-dialog
  header="Carros"
  [(visible)]="carClientDialog"
  (onHide)="closeDialog()"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [position]="position"
>
  <button
    pButton
    pRipple
    label="Novo"
    icon="pi pi-plus"
    class="p-button-success mr-2 mb-2"
    (click)="openDialogNewCar()"
  ></button>

  <p-table
    [value]="clientsVehicles"
    *ngIf="!showNoDataMessage"
    dataKey="id"
    editMode="row"
    [tableStyle]="{ width: '100%' }"
    class="flex align-items-center justify-content-between"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 220px">Carro</th>
        <th style="width: 220px">Placa</th>
        <th style="width: 220px">Descrição</th>
        <th style="width: 220px">Ações</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-vehicle
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="vehicle">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                style="width: 180px"
                [(ngModel)]="vehicle.modelo"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ vehicle.modelo }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                style="width: 180px"
                [(ngModel)]="vehicle.placa"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ vehicle.placa }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                style="width: 180px"
                [(ngModel)]="vehicle.tipo_veiculos.descricao"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ vehicle.tipo_veiculos.descricao }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <button
            *ngIf="!editing"
            pButton
            pRipple
            type="button"
            pInitEditableRow
            icon="pi pi-pencil"
            (click)="onRowEditInit(vehicle)"
            class="p-button-rounded p-button-text"
          ></button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pSaveEditableRow
            icon="pi pi-check"
            (click)="onRowEditSave(vehicle)"
            class="p-button-rounded p-button-text p-button-success mr-2"
          ></button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pCancelEditableRow
            icon="pi pi-times"
            (click)="onRowEditCancel(vehicle, ri)"
            class="p-button-rounded p-button-text p-button-danger"
          ></button>
          <button
            *ngIf="!editing"
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-text mr-2"
            (click)="confirmDelete($event, vehicle)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!-- MSG CASO NAO TENHA NADA -->
  <div *ngIf="showNoDataMessage">NAO TEM NADA (MOCKANDO)</div>
</p-dialog>

<app-new-car
  [newCarDialog]="newCarDialog"
  (dialogClosed)="onDialogClosed()"
  (getCarByClient)="getCarByClient(cd_cliente)"
  [cd_cliente]="cd_cliente"
  [carsType]="carsType"
>
</app-new-car>

<div class="card">
  <p-toast></p-toast>
</div>
