<div class="card">
  <h2 class="mb-5">FINANCEIRO</h2>
  <p-table
    #dt
    #textInput
    [value]="movimentacoes"
    responsiveLayout="stack"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['cliente', 'nr_atendimento', 'dt_pagamento']"
    dataKey="id"
    currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} Itens"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <button
          pButton
          type="button"
          icon="pi pi-arrow-left"
          routerLink="/inicio"
          class="p-button-outlined"
        ></button>

        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            class="input_pesquisa"
            type="text"
            pTooltip="Nome, Nº do atendimento ou Data do pagamento"
            tooltipPosition="top"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Procurar... "
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="cliente">
          Cliente <p-sortIcon field="cliente"></p-sortIcon>
        </th>
        <th>Data/Hora do pagamento</th>
        <th pSortableColumn="nr_atendimento">
          <p-sortIcon field="nr_atendimento"></p-sortIcon>Nº do atendimento
        </th>
        <th>Valor da Movimentação</th>
        <th>Valor Pago</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-movimentacao let-columns="columns">
      <tr>
        <td>
          <ng-container *ngIf="requisicaoCompleta; else skeleton">
            <span class="p-column-title">Nome</span>
            {{ movimentacao.cliente | capitalCase }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="requisicaoCompleta; else skeleton">
            <span class="p-column-title">Data/Hora do pagamento</span>
            {{ movimentacao.dt_pagamento == null ? "SEM DATA DEFINIDA" : movimentacao.dt_pagamento}}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="requisicaoCompleta; else skeleton">
            <span class="p-column-title">Nº do atendimento</span>
            {{ movimentacao.nr_atendimento }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="requisicaoCompleta; else skeleton">
            <span class="p-column-title">Valor da Movimentação</span>
            {{ movimentacao.vlr_movimento | currency : "BRL" : "symbol" }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="requisicaoCompleta; else skeleton">
            <span class="p-column-title">Valor Pago</span>

            {{movimentacao.vlr_pago == null ? "R$0": movimentacao.vlr_pago | currency : "BRL" : "symbol" }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="requisicaoCompleta; else skeleton">
            <span class="p-column-title">Status</span>
            {{ 
            movimentacao.status == "PG" ? "PAGO" :
             movimentacao.status == "NP" ? "NÃO PAGO" : 
             movimentacao.status == "PP" ? "PARCIALMENTE PAGO" :
             movimentacao.status == "ES" ? "CANCELADO/ESTORNADO" :
              "Cancelado" }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="requisicaoCompleta; else skeleton">
            <span class="p-column-title">Ações</span>
            <p-button
              icon="pi pi-info-circle"
              (click)="getDetail(movimentacao)"
              styleClass="p-button-rounded p-button-primary p-button-text"
            ></p-button>
          </ng-container>
        </td>
        <ng-template #skeleton>
          <p-skeleton></p-skeleton>
        </ng-template>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="isLoading" class="loading-overlay">
  <app-car-wash-loader></app-car-wash-loader>
</div>

<!-- DIALOG -->
<p-dialog
  header="Detalhes da Transação"
  [(visible)]="dialogTransacoes"
  (onHide)="closeDialog()"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '50vw' }"
>
  <p-table [value]="dadosDetalhados" responsiveLayout="stack" *ngIf="dadosDetalhados.length > 0">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Data/Hora da movimentação</th>
        <th>Tipo</th>
        <th>Tipo de Pagamento</th>
        <th>Valor</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transacoes let-columns="columns">
      <tr>
        <td>
          <span class="p-column-title"
            ><b><i>Data/Hora da movimentação</i></b></span
          >
          {{ transacoes.dh_movimentacao}}
        </td>
        <td>
          <span class="p-column-title"
            ><b><i>Tipo</i></b></span
          >
          {{ transacoes.tipo | uppercase}}
        </td>
        <td>
          <span class="p-column-title"
            ><b><i>Tipo de Pagamento</i></b></span
          >
          {{ transacoes.tipo_pagamento}}
        </td>
        <td>
          <span class="p-column-title"
            ><b><i>Valor</i></b></span
          >
          {{ transacoes.valor | currency : "BRL" : "symbol"}}
        </td>
      </tr>
    </ng-template>
    
  </p-table>
  <div  *ngIf="showNoDataMessage">
    <span class="message">
      TRANSAÇÃO NÃO PAGA OU DADOS NÃO ENCONTRADOS 
    </span>
  </div>
</p-dialog>
