.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  animation: blink 1s infinite alternate;
  margin: auto;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 530px) {
  .message {
    font-size: 20px;
    padding: 1rem;
  }
}

@media (max-width: 469px) {
  .input_pesquisa {
    width: 10rem;
  }

  .card {
    max-width: 100%;
    padding: 1.3rem;
  }
}
