<div class="card">
    <h2 class="mb-5">FINANCEIRO</h2>
    <p-table
    #dt
    #textInput
    [value]="movimentacoes"
    responsiveLayout="stack"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['cliente', 'nr_atendimento', 'dt_pagamento']"
    dataKey="id"
    currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} Itens"
    [showCurrentPageReport]="true"
  >
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
        <button
          pButton
          type="button"
          icon="pi pi-arrow-left"
          routerLink="/inicio"
          class="p-button-outlined"
        ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
        <th pSortableColumn="cliente">
          Cliente <p-sortIcon field="cliente"></p-sortIcon>
        </th>
        <th>Data/Hora do pagamento</th>
        <th  pSortableColumn="nr_atendimento">
            <p-sortIcon field="nr_atendimento"></p-sortIcon>Nº do atendimento</th>
        <th>Valor da Movimentação</th>
        <th>Valor Pago</th>
        <th>Status</th>
      </tr>
  </ng-template>

  <ng-template pTemplate="body" let-movimetacao let-columns="columns">
    <tr>
        <td>
            <ng-container *ngIf="requisicaoCompleta; else skeleton">
              <span class="p-column-title">Nome</span>
              {{ movimetacao.cliente | capitalCase }}
            </ng-container>
        </td>

        <td>
            <ng-container *ngIf="requisicaoCompleta; else skeleton">
              <span class="p-column-title">Data/Hora do pagamento</span>
              {{ movimetacao.dt_pagamento }}
            </ng-container>
        </td>

        <td>
            <ng-container *ngIf="requisicaoCompleta; else skeleton">
              <span class="p-column-title">Nº do atendimento</span>
              {{ movimetacao.nr_atendimento }}
            </ng-container>
        </td>

        <td>
            <ng-container *ngIf="requisicaoCompleta; else skeleton">
              <span class="p-column-title">Valor da Movimentação</span>
              {{ movimetacao.vlr_movimento | currency : "BRL" : "symbol" }}
            </ng-container>
        </td>

        <td>
            <ng-container *ngIf="requisicaoCompleta; else skeleton">
              <span class="p-column-title">Valor Pago</span>
              {{ movimetacao.vlr_pago | currency : "BRL" : "symbol"}}
            </ng-container>
        </td>

        <td>
            <ng-container *ngIf="requisicaoCompleta; else skeleton">
              <span class="p-column-title">Status</span>
              {{ movimetacao.status == "PG" ? "PAGO": "AINDA N FIZ VALIDAÇÃO" }}
            </ng-container>
        </td>




        <ng-template #skeleton>
            <p-skeleton></p-skeleton>
          </ng-template>
    </tr>
  </ng-template>

</p-table>
</div>


<div *ngIf="isLoading" class="loading-overlay">
    <app-car-wash-loader></app-car-wash-loader>
  </div>
  